body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Caveat', cursive;
}

main {
  display: flex;
  flex: 1;
}

p{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 100;
    margin-top: 3em;
}
#main-header {
  background-color: #55BCC9;
  border-top: 2px solid #23282D;
  border-bottom: 2px solid #23282D;

}

#main-header h1 {
  color: #fff;
  font-size: 1.5em;
  text-align: right;
  padding-right: 70px;
}

#logo{
  font-size: 2em;
  text-transform: uppercase;
  font-family: 'Amatic SC', cursive;
}

#motto{
  padding-left: 250px;
}

h2{
  font-family: 'Amatic SC', cursive;
  font-size: 2em;
  text-decoration: overline;
}

#sidebar {
  font-family: 'Amatic SC', cursive;
  font-size: 1.5em;
  text-transform: uppercase;
  width: 175px;
  flex: 0 0 8em;
  background-color: #23282D;
}

#sidebar ul {
  padding: 0;
  list-style-type: none;
}

#sidebar ul li {
  color: #eee;
  padding: 10px 10px 10px 25px;
}

#sidebar ul li:hover {
  cursor: pointer;
  background-color: #32373C;
  color: #55BCC9;
}

#post-container {
  flex: 1;
  background-color: #eee;
  padding: 20px;
}

#intro {
  display: none;
}

blockquote {
  font-size: 1.5em;
  padding-bottom: 0;
  font-style: italic;
  margin: 1em 1em .5em 0;
}

blockquote:before,
blockquote:after {
  content: '"';
}

.author {

  width: 100%;
  display: inline-block;
  text-indent: 5%;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 100;
  font-style: italic;
}

.author:before {
  content: '-';
}

#subscript
{
  padding-top: 200px;
  font-size: .5em;
  text-indent: 5%;
}
