body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Raleway', sans-serif;
  background-image: linear-gradient(to right, #1F2833 , #0B0C10);
  margin: 0;
}

header {
  display: flex;
  padding: 5px;
  color: #66FCF1;
  font-size: 1.5em;
  background-color: transparent;
  border-bottom: solid 1px #0B0C10;
}

header .header-title {
  margin-left: 30px;
  display: inline-block;
  text-decoration: underline;
  text-decoration-color: #45A29E;
}

header .header-menu {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #777;
  font-size: smaller;
}

main {
  flex: 1;
}

main #display-content {
  padding: 20px;
}

/* modal styles */
#modal-backdrop {
  display: none;
  position: absolute;
  height: 100vh;
  width: 100vw;
}

#modal-backdrop.visible {
  display: block;
}

.modal {
  display: none;
  position: absolute;
  padding: 10px;
  border: solid 1px #0B0C10;
  z-index: 99999;
  width: 350px;
  height: 350px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal.visible {
  display: block;
}

.modal-content {
  width: 300px;
  height: 300px;
}

.modal{
    background-color: #1F2833;
}

.modal h2{
  font-weight: 200;
  color: #66FCF1;
}

button{
  background-color: transparent;
  padding: 10px 15px 10px 15px;
  border: 1px solid #45A29E;
  color: #C5C6C7;
  font-family: 'Raleway', sans-serif;
}

#new-button{
  margin-right: 30px;
}

#edit-title-text {
  width: 300px;
  margin-bottom: 5px;
  box-sizing: border-box;
  background-color: #C5C6C7;
}

#edit-content-text {
  width: 100%;
  box-sizing: border-box;
  background-color:#C5C6C7;
}

#display-content{
  color: #C5C6C7;
}
